<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>VUTTR</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>
    <div id="container">
        <h1>VUTTR</h1>
        <h2>Very Useful Tools to Remenber</h2>
        <div id="pesquisa-add">
            <div class="form-search">
                <form id="form-busca" action="{{url_for('buscar')}}" method="get" enctype="application/x-www-form-urlencoded">
                    <input type="text" id="txtBusca" name="palavra-chave" placeholder=search>
                    <input type="checkbox" id="checkbox-tags" value="1" name="search"> search in tags only
                    <input type="submit" hidden="True">
                </form>
            </div>
            <div class="add-form-pesquisar">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-modal">
                 Add
                </button>
            </div>
        </div>

        <div class="ferramentas">
            {% if list_ferramentas  == [] %}
                <p>No tools registered</p>
            {% else %}
                {% for ferramenta in list_ferramentas %}
                    <section class="ferramenta">

                        <div id="unir-nome-remover">
                            <button id="valor-butao" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-remove-{{ ferramenta.get_id() }}">
                             X remove
                             </button>
                        <a target="_blank" href="{{ ferramenta.get_link() }}">{{ferramenta.get_nome() }}</a>
                        </div>
                        <p id="p-descricao">{{ ferramenta.get_descricao() }}</p>

                        {% for tag in ferramenta.get_tags()%}
                            <div class="tags">
                                <div id="tag">
                                    <p>#{{ tag }}</p>
                                </div>
                            </div>
                        {% endfor %}



                        <div class="modal fade" id="modal-remove-{{ ferramenta.get_id() }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Remove tool</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p id="p-modal-remover">Are you sure you want to remove {{ ferramenta.get_nome() }}?</p>
                                  <a id="a-remover" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                                <a id="a-remover" type="button" class="btn btn-secondary" href="{{ url_for('remover',id=ferramenta.get_id()) }}">Yes,remove</a>
                              </div>

                            </div>
                          </div>
                        </div>
                    </section>

                {% endfor %}
            {%endif%}
        </div>

        <!-- Modal -->
        <div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="add-modal-label">+ Add new tool</h5>
              </div>
              <div class="modal-body">
                  <form id="add" action="{{ url_for('inserir')}}" method="post" enctype="application/x-www-form-urlencoded">
                      <label for="ferramenta-nome">Tool Name</label>
                      <br>
                      <input id="ferramenta-nome" type="text" name="nome">
                      <br>

                      <label for="ferramenta-link">Tool Link</label>
                      <br>
                      <input id="ferramenta-link" type="text" name="link">
                      <br>
                      <label for="ferramenta-descricao">Tool Description</label>
                      <br>
                      <textarea id="ferramenta-descricao" name="descricao"></textarea>
                      <br>

                      <label for="ferramenta-tags">Tags</label>
                      <br>
                      <input id="ferramenta-tags" name="tags">
                      <br>
                      <input id="submit-add-form" type="submit" value="Add tool">

                  </form>
              </div>
            </div>
          </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>